@use './variables' as variables;

* {
    margin: 0;
    padding: 0;
    font-family: PTSans, system-ui, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    color: variables.$color-gray-base;
}

@font-face {
    font-family: PTSans;
    font-style: normal;
    font-weight: normal;
    src: url('../../../public/assets/fonts/PTSans-Regular.ttf') format('ttf');
}

@font-face {
    font-family: PTSans;
    font-style: normal;
    font-weight: bold;
    src: url('../../../public/assets/fonts/PTSans-Bold.ttf') format('ttf');
}
