@use 'app/styles/variables';
@use 'app/styles/utils';
@use 'app/styles/media';

.root {
    @include utils.set-transition(border-color);
    @include utils.set-size(50px);

    border-radius: 50%;
    border: 1px solid variables.$color-gray-base;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    @include media.vw-medium-down {
        @include utils.set-size(25px);
    }

    &:disabled {
        cursor: default;
        border-color: variables.$color-gray-base-light;
    }

    &:not(&:disabled) {
        &:hover,
        &:focus-visible {
            border-color: black;
        }
    }
}

.icon {
    @include utils.set-size(14px);

    @include media.vw-medium-down {
        @include utils.set-size(7px);
    }
}
