@use 'app/styles/utils';
@use 'app/styles/media';

.root {
    position: relative;
    font-size: utils.to-rem(56px);
    font-weight: 700;
    line-height: 1.2;
    text-align: left;
    padding-left: 78px;
    margin-top: 170px;

    @include media.vw-x-large-down {
        font-size: utils.to-rem(48px);
        margin-top: 88px;
    }

    @include media.vw-large-down {
        font-size: utils.to-rem(36px);
        margin-top: 78px;
    }

    @include media.vw-medium-down {
        font-size: utils.to-rem(32px);
        margin-top: 68px;
        padding-left: 0;
    }

    @include media.vw-small-down {
        font-size: utils.to-rem(28px);
        margin-top: 59px;
    }

    @include media.vw-x-small-down {
        font-size: utils.to-rem(20px);
    }

    &::before {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 5px;
        content: '';
        background-image: linear-gradient(180deg, #3877ee -5%, #ef5da8 85%);

        @include media.vw-medium-down {
            display: none;
        }
    }
}
