.root {
    position: relative;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    text-align: left;
    padding-left: 78px;

    &::before {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 5px;
        content: '';
        background-image: linear-gradient(180deg, #3877ee -5%, #ef5da8 85%);
    }
}
