@use 'app/styles/variables' as variables;
@use 'app/styles/utils' as utils;
@use 'app/styles/media' as media;

.root {
    display: block;
}

.title {
    font-family: 'BebasNeue', sans-serif;
    color: variables.$color-blue;
    font-size: utils.to-rem(25px);
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-weight: 400;

    @include media.vw-medium-down {
        font-size: utils.to-rem(16px);
    }
}

.text {
    font-size: utils.to-rem(20px);
    line-height: 1.5;

    @include media.vw-medium-down {
        font-size: utils.to-rem(14px);
    }
}
