@use 'app/styles/variables' as variables;
@use 'app/styles/utils' as utils;

.root {
    display: block;
}

// TODO Add font BebasP Neue
.title {
    color: variables.$color-blue;
    font-size: utils.to-rem(25px);
    line-height: 1.2;
    text-transform: uppercase;
    // TODO: odd number??
    margin-bottom: 15px;
}

.text {
    font-size: utils.to-rem(20px);
    line-height: 1.5;
}
