@use 'app/styles/variables';
@use 'app/styles/utils';
@use 'app/styles/media';

.circleContainer {
    position: relative;
    margin-top: 215px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;

    @include media.vw-x-large-down {
        margin-top: 100px;
    }

    @include media.vw-medium-down {
        margin-top: 56px;
    }

    &::before {
        position: absolute;
        content: '';
        background-color: variables.$color-gray-base-light;
        left: -80px;
        right: -80px;
        height: 1px;

        @include media.vw-medium-down {
            display: none;
        }
    }
}

.circle {
    @include media.vw-medium-down {
        display: none;
    }
}

.yearContainer {
    display: flex;
    position: absolute;
    column-gap: 140px;
    user-select: none;

    @include media.vw-large-down {
        column-gap: 100px;
    }

    @include media.vw-medium-down {
        position: revert;
        column-gap: 70px;
    }

    @include media.vw-small-down {
        column-gap: 40px;
    }
}

.year {
    font-size: utils.to-rem(200px);
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: -0.02em;
    white-space: nowrap;

    @include media.vw-large-down {
        font-size: utils.to-rem(168px);
    }

    @include media.vw-medium-down {
        font-size: utils.to-rem(112px);
    }

    @include media.vw-small-down {
        font-size: utils.to-rem(78px);
    }

    @include media.vw-x-small-down {
        font-size: utils.to-rem(56px);
    }

    &.colorBlue {
        color: variables.$color-light-blue;
    }

    &.colorPink {
        color: variables.$color-pink;
    }
}

.sliderContainer {
    margin-top: 56px;
    padding-bottom: 104px;
}

.mobileTitleContainer {
    display: none;
    padding-bottom: 20px;
    border-bottom: 1px solid variables.$color-gray-base-light;
    margin-bottom: 20px;

    @include media.vw-medium-down {
        display: block;
    }
}

.fade {
    @include utils.set-transition((opacity, transform), 250ms, ease-in);

    opacity: 1;

    &.isLoading {
        opacity: 0;

        @include media.vw-medium-down {
            transform: translateY(10%);
        }
    }
}

.mobileTitle {
    font-size: utils.to-rem(20px);
    line-height: 1.2;
}
